@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2"),
  url("../fonts/FuturaPT-Book.woff") format("woff");
}

@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
  url("../fonts/FuturaPT-Medium.woff") format("woff");
}

@font-face {
  font-family: "Futura PT";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
  url("../fonts/FuturaPT-Bold.woff") format("woff");
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Futura PT", "Arial", sans-serif;
  font-size: 16px;
  /* padding-top: 116px; */
  background-color: rgb(204, 203, 203);
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position:absolute;
  width:1px;
  height:1px;
  margin:-1px;
  border:0;
  padding:0;
  clip:rect(0 0 0 0);
  overflow:hidden;
}

.container {
  max-width: 1350px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* =========== */
/* SITE-HEADER */
/* =========== */
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 190px;
}

.our-location-header {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.our-location-header::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../img/home-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-right: 9px;
  content: "";
}

.tel-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tel-list::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../img/phone-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-right: 9px;
  content: "";
} 

.tel-list-item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.tel-list-item:not(:first-child)::before{
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #FFBD54;
  margin-left: 9px;
  margin-right: 9px;
  content: "";
}

.tel-list-link {
  text-decoration: none;
  color: #333333;
  transition: all 0.2s ease;
}

.tel-list-link:hover {
  color: #FFBD54;
}

.tel-list-link:active {
  color: #333333;
  opacity: 0.5;
}

.working-hours {
  display: flex;
  align-items: center;
  justify-content: center;
}

.working-hours-text {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.hours-text-2 {
  margin-left: 17px;
}

.working-hours::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../img/calendar-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-right: 9px;
  content: "";
} 

/* eng-of-header-top */
.site-header {
  background-color: #fff;
}


.site-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link:hover {
  opacity: 0.8;
}
.logo-link:active {
  opacity: 0.5;
}

.logo-img {
  position: absolute;
  width: 177px;
  height: 86px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nav-list {
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 184px;
}

.nav-list-item-link {
  position: relative;
  display: block;
  font-weight: 500;
  line-height: 21px;
  padding: 19px 27px;
  text-decoration: none;
  color: #333333;
  transition: all 0.2s ease;
}

.nav-list-item-link:hover {
  background: #FFBD54;
}

.nav-list-item-link:active {
  background: rgba(255, 189, 84, 0.5);
}

.nav-list-item-link-active::before {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/fish-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-right: 9px;
  content: "";
}

.ask-questions-link {
  position: relative;
  display: block;
  font-weight: 500;
  line-height: 21px;
  padding: 19px 28px 19px 60px;
  text-decoration: none;
  color: #333333;
  transition: all 0.2s ease;
}

.ask-questions-link:hover {
  background-color: #333333;
  color: #fff;
}

.ask-questions-link:active {
  opacity: 0.5;
}

.ask-questions-link::before {
  display: inline-block;
  position: absolute;
  width: 23px;
  height: 23px;
  left: 18%;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/pet-icon.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-right: 9px;
  content: "";
}

/* ================== */
/* ENG-OF-SITE-HEADER */
/* ================== */

/* ############################################ */

/* =========== */
/* HERO-SECTION */
/* =========== */
.hero-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.hero-container::before {
  display: inline-block;
  position: absolute;
  width: 790px;
  height: 835px;
  left: -15%;
  top: 50%;
  transform: translateY(-60%);
  background-image: url("../img/hero-pets.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.hero-container::after {
  display: inline-block;
  position: absolute;
  width: 350px;
  height: 430px;
  right: 0;
  top: 55%;
  background-image: url("../img/hero-perrot.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.hero-wrapper {
  max-width: 600px;
  margin-right: 30px;
}

.hero-heading {
  font-size: 70px;
  line-height: 64px;
  margin: 0;
  margin-top: 150px;
  margin-bottom: 29px;
}

.hero-text-color {
  color: #78C0DE;
}

.hero-text {
  line-height: 21px;
  margin: 0;
  margin-bottom: 38px;
}

.button-style {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  font-weight: 500;
  padding: 15px 47px;
  border-radius: 3px;
  color: #FFFFFF;
  transition: all 0.2s ease;
}

.hero-button {
  background-color: #333;
  margin-bottom: 300px;
}

.hero-button:hover {
  background-color: #FFBD54;
  color: #333333;
}

.hero-button:active {
  opacity: 0.5;
}
/* ================== */
/* ENG-OF-HERO-SECTION */
/* ================== */

/* ############################################ */

/* =========== */
/* QUOTE-SECTION */
/* =========== */

.hr-line {
  width: 140px;
  height: 0px;
  background-color: #DBDBDB;
  border: 1px solid #DBDBDB;
}

.quote-container {
  text-align: center;
}

.quote-text {
  position: relative;
  display: inline-block;
  max-width: 760px;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #949494;
}


.quote-text:before {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  left: -10%;
  top: 10%;
  background-image: url("../img/quote.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.quote-text::after {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  right: -10%;
  bottom: 10%;
  transform: rotate(180deg);
  background-image: url("../img/quote.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.quote-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-top: 35px;
  margin-bottom: 190px;
}

/* ================== */
/* ENG-OF-QUOTE-SECTION */
/* ================== */ 

/* ############################################ */

/* =========== */
/* SERVICE-SECTION */
/* =========== */
.services-section {
  margin-bottom: 235px;
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-heading {
  font-size: 48px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 80px;
}

.service-list-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.direction {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.direction:hover {
  box-shadow: 0 0 4px 4px #c3c3c3;
  background-color: #fff;
}

.direction:active {
  opacity: 0.5;
}

.direction:focus {
  outline: none;
}

.direction-prev {
  left: -40px;
  background-image: url("../img/arrow-left.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.direction-next {
  right: -40px;
  background-image: url("../img/arrow-right.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.service-list {
  display: flex;
  width: 1225px;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: flex-start;
  text-align: center;
  margin: 0;
  padding: 0;
}

.service-list-item {
  min-width: 193px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  padding: 30px 32px;
  margin-right: 13px;
  margin-bottom: 14px;
  list-style-type: none;
  background-color: #fff;
  cursor: pointer;
}

.service-list-item:hover {
  color: #FFBD54;
}

.service-list-item:active {
  opacity: 0.5;
}

.service-list-item::before {
  display: inline-block;
  width: 76px;
  height: 76px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 22px;
  content: "";
}

.service-list-item-img-1::before {
  background-image: url("../img/service-doctor.png");
}

.service-list-item-img-2::before {
  background-image: url("../img/service-look.png");
}

.service-list-item-img-3::before {
  background-image: url("../img/service-surgery.png");
}

.service-list-item-img-4::before {
  background-image: url("../img/service-dermotology.png");
}

.service-list-item-img-5::before {
  background-image: url("../img/service-lab.png");
}

.service-list-item-img-6::before {
  background-image: url("../img/service-oftolmology.png");
}

.service-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1225px;
  border-radius: 5px;
  padding: 41px 100px 41px 35px;
  background-color: #fff;
}

.service-info::before {
  display: block;
  width: 524px;
  height: 329px;
  background-image: url("../img/service-cat.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.right-side {
  width: 500px;
  text-align: left;
  
}

.service-info-heading {
  font-size: 36px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 18px;
}

.service-info-text {
  line-height: 20px;
  margin: 0;
  margin-bottom: 9px;
}

.service-info-text2 {
  line-height: 20px;
  margin: 0;
}

.info-button-orange {
  position: relative;
  background: #FFBD54;
  margin-right: 21px;
  padding: 15px 36px 16px 63px;
}

.info-button-orange:hover {
  background: #333333;
  color: #fff;
}

.info-button-orange:active {
  opacity: 0.5;
}

.info-button-orange::before {
  display: inline-block;
  position: absolute;
  width: 21px;
  height: 21px;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/money-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.info-button-black {
  position: relative;
  background: #333333;
  padding: 15px 36px 16px 63px;
}

.info-button-black:hover {
  background: #FFBD54;
  color: #fff;
}

.info-button-black:active {
  opacity: 0.5;
}

.info-button-black::before {
  display: inline-block;
  position: absolute;
  width: 21px;
  height: 21px;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/form-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}


/* ================== */
/* ENG-OF-SERVICE-SECTION */
/* ================== */ 

/* ############################################ */

/* =========== */
/* CALL-BACK-SECTION */
/* =========== */
.email-section {
  position: relative;
  background: #78C0DE;
  background-image: url("../img/dog-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 100%;
  border-radius: 5px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin-bottom: 200px;
}
.email-section::before {
  display: inline-block;
  position: absolute;
  width: 613px;
  height: 481px;
  right: 0;
  bottom: -66px;
  background-image: url("../img/pet-dog.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  content: "";
}

.email-container {
  padding-left: 150px;
}

.email-heading {
  font-size: 48px;
  line-height: 20px;
  margin: 0;
  padding-bottom: 42px;
}

.email-input {
  min-width: 335px;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  margin-right: 21px;
}

.email-input:invalid {
  border: 3px solid #D81D04;
}

.email-input:valid {
  border: 3px solid #00B031;
}

.email-input:focus {
  outline: none;
}

.email-button {
  border: none;
  background-color: #333333;
}

.email-button:hover {
  background-color: #FFBD54;
}

.email-button:active {
  opacity: 0.5;
}

/* ================== */
/* ENG-OF-CALL-BACK-SECTION */
/* ================== */ 

/* ############################################ */

/* =========== */
/* ARTICLE-SECTION */
/* =========== */
.articele-heading {
  font-size: 48px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 80px;
}

/* ================== */
/* ENG-OF-ARTICLE-SECTION */
/* ================== */ 

/* ############################################ */

/* =========== */
/* BONUSES-SECTION */
/* =========== */

/* ================== */
/* ENG-OF-BONUSES-SECTION */
/* ================== */ 

/* ############################################ */

/* =========== */
/* F.A.Q.-SECTION */
/* =========== */

/* ================== */
/* ENG-OF-F.A.Q.-SECTION */
/* ================== */ 
